<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

</head>
<title>Basic Subscription Form</title>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>

<div class="ui grid container">

<form class="ui ten wide form" method="POST" name="registration">
<br>
    {{ form.non_field_errors }}
    
    <h3>Registration form</h3>
    
    <div class="field">
    {{ form.firstname.errors }}
    <div class="ui label">
    <label for="{{ form.firstname.id_for_label }}">First Name</label>
    </div>
    {{ form.firstname }}
    </div>
    
    <div class="field">
    {{ form.lastname.errors }}
    <div class="ui label">
    <label for="{{ form.lastname.id_for_label }}">Last Name</label>
    </div>
    {{ form.lastname }}
    </div>
    
    <div class="field">
    {{ form.email.errors }}
    <div class="ui label">
    <label class="" for="{{ form.email.id_for_label }}">Email</label>
    </div>
    {{ form.email }}
    </div>
    
    <div class="field">
    {{ form.subject.errors }}
    <div class="ui label">
    <label for="{{ form.subject.id_for_label }}">Subject</label>
    </div>
    {{ form.subject }}
    </div>
    
    <div class="field">
    {{ form.message.errors }}
    <div class="ui label">
    <label for="{{ form.message.id_for_label }}">Message</label>
    </div>
    {{ form.message }}
    </div>
    
    <div class="field">
    {{ form.phone.errors }}
    <div class="ui label">
    <label for="{{ form.phone.id_for_label }}">Phone</label>
    </div>
    {{ form.phone }}
    </div>
    
    <div class="field">
    {{ form.checkbox.errors }}
    
    <div class="ui right label">
    <label for="{{ form.checkbox.id_for_label }}">I agree to be contacted back</label>
    </div>
    
    <div class="ui checkbox">
    {{ form.checkbox }}
    </div>
    
    </div>
        
    {% csrf_token %}
    
    <input class="ui button basic blue" type="submit" value="Submit"><br><br>
</form>
</div>

<script>

$(function() {
  
  $("form[name='registration']").validate({
   
    rules: {
     
      firstname: {
        required: true,
        minlength: 2
       },
      lastname: {
        required: true, 
        minlength: 2    
      },
      email: {
        required: true,
        email: true
      },
      subject: {
        required: true, 
        minlength: 2    
      },
      message: {
        required: true, 
         minlength: 2    
      },
      phone: {
        required: true, 
        minlength: 12    
      },
      checkbox: {
        required: true
      }
      
     
    },
    
    messages: {
      firstname: "Please enter your firstname (minimum 2 characters)",
      lastname: "Please enter your lastname (minimum 2 characters)",
      email: "Please enter a valid email address"
    },
    
    submitHandler: function(form) {
      form.submit();
    }
  });
  
});

</script>

<script>
  $('.ui.checkbox')
  .checkbox();
</script>

</html>